@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: rgb(220, 220, 220);
}

@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto-Regular.ttf");
}