@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: #dcdcdc;
  /* background-image: url('https://png.pngtree.com/png-vector/20190318/ourlarge/pngtree-school-doodle-seamless-pattern-with-bookpencilglobebagrulerand-study-lamp-drawing-vector-illustration-png-image_858328.jpg');
  background-size: cover;
  background-repeat: no-repeat;  */
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter-Regular.ttf");
}